<div class="panel panel-default panel-news">
    <div class="panel-heading">Cloudflare</div>
    <ul>
        <li>Last 24 hours: {{ day }}</li>
        <li>Last week: {{ week }}</li>
        <li>Last month: {{ month }}</li>
    </ul>
</div>